.App {
  text-align: center;
  font-family: 'Jost', sans-serif;
  background-color: #3b3f47;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body{
  overflow: hidden;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.sidebar {
  padding-inline: 2rem;
  width: 20%;
}

.container{
  width: 80%;
  display: flex;
  flex-direction: column;
}

.field-wrapper {
  position: relative;
  display: flex;
  min-height: 0;
}

.Scoreboard{
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
